{% extends "bootstrap/base.html" %}

{% block title %}
Fate
{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#"><img alt="Brand" src="{{ url_for('static', filename='pic/fatemainsmall.jpg') }}"></a>
                <a class="navbar-brand" href="#">Fate</a>
            </div>
        </div>
    </nav>
{% endblock navbar %}